.answer {
  display: flex;
  min-width: 500px;
  width: 80%;
  height: 100px;
  margin: 10px;
}

.contentAnswer {
  display: flex;
  flex: 1;
  position: relative;
}

.front,
.back {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.front {
  align-items: center;
  border-radius: 12px;
  padding: 15px;
  color: #000;
  background-color: #ffff;
}

.back > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 12px;
}

.isRight {
  background-color: #2baa6d;
}

.wrong {
  background-color: #e44a4c;
}

.isRight .value,
.wrong .value {
  font-size: 1.5rem;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 20px;
}

.value {
  font-size: 1.3rem;
  font-weight: bold;
}
